{% extends 'allinclude.html' %}

{%load static%}
{% block contant %}
  <div class="container">
    <h2>About Us</h2>
    <div class="about-info">
      <div class="about-image">
        <img src="{%static 'Allfiles/Photo/video_pic.jpg'%}" alt="About Us Image" class="about-img">
      </div>
      <div class="about-details">
        <h3>Welcome to My Hotel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus auctor velit, vitae dapibus nisl mattis et. Morbi interdum massa et tempor consequat. Donec placerat vestibulum turpis, et tincidunt tortor ultricies sed. Suspendisse interdum, justo sed commodo pellentesque, purus turpis pharetra arcu, et euismod sem felis ut dolor. Fusce lobortis, mauris eu ultricies scelerisque, ligula velit bibendum est, id faucibus ex urna sit amet ligula. Mauris volutpat pulvinar diam, vitae ullamcorper quam consectetur vel.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus auctor velit, vitae dapibus nisl mattis et. Morbi interdum massa et tempor consequat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus auctor velit, vitae dapibus nisl mattis et.</p>
      </div>
    </div>
  </div>
{% endblock %}
