{%extends 'allinclude.html'%}

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    {%block title %}
    Room Booked
    {%endblock%}

    {% block hide_element %}
    {% endblock %}

    {%block style %}
    
    <style>
        body {
            background-color: #f5f5f7;
            font-family: "Helvetica Neue", sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px 20px;
            box-sizing: border-box;
        }

        h1 {
            font-size: 36px;
            color: #000;
            font-weight: bold;
            text-align: center;
            margin: 0;
            margin-bottom: 20px;
        }

        p {
            font-size: 24px;
            color: #666;
            text-align: center;
            margin-bottom: 40px;
        }

        .button {
            display: block;
            margin: 0 auto;
            background-color: #fff;
            border: 2px solid #ffbf00;
            color: #ffbf00;
            font-size: 18px;
            font-weight: bold;
            padding: 15px 30px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
            cursor: pointer;
        }

        .button:hover {
            background-color: #ffbf00;
            color: #fff;
        }

        @media screen and (max-width: 767px) {
            .container {
                padding: 20px;
            }

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 20px;
            }

            .button {
                font-size: 16px;
                padding: 12px 24px;
            }
        }
    </style>
    {%endblock%}



{% block contant %}


{% load static %}
<body >
    <div>

        <div class="container" style="margin-top: 50px;">
            <h1 >Successfully Booked</h1>
            <h5 style="text-align: center; margin-bottom: 20px">Your booking will be confirmed 
                soon and details sent to your email</h5>
                <a href="{% url 'Home' %}" class="button">Back Home</a>
        </div>
    </div>

</body>
{% endblock%}


